/* Loader Section Start*/
.main-loader {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

/* Loader Section Ends*/

.cta {
  margin-top: 40px;
  .startTestBtn {
    border: 0;
    color: #111;
    font-size: 15px;
    display: inline-block;
    font-weight: 700;
    background-color: #f9d856;
    border-radius: 6px;
    padding: 10px 24px;
    border: 2px solid #f9d856;
    text-transform: uppercase;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2) !important;
    transition: all 0.3s ease-in-out;
    outline: none;
  }
}

.userInputSec {
  background: #1b2a4a;
  padding-bottom: 180px;
  .userInputWrap {
    padding: 120px 0 0;
    .error {
      display: none;
      margin-top: 5px;
      color: #ffffff;
    }
    h2 {
      span {
        color: #ffffff;
      }
      .userInputSecLabel {
        color: #1a2a4a;
        font-weight: 700;
        margin: 0 5px;
        border: 1px solid #4a6699;
        padding: 6px 26px;
        background-color: #fff;
        border-radius: 0.5rem;
      }
    }
    .form {
      margin-top: 45px;
      #url {
        width: 100%;
        padding: 15px 15px;
        border: 0px;
        border-radius: 30px;
      }
    }
  }
}

.scoreSection {
  padding-bottom: 60px;
  .scoreSectionBox {
    padding: 40px 60px 40px;
    background: #fff;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2) !important;
    border-radius: 3px;
    margin-top: -130px;
    position: relative;
    .scoreSectionLoader {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(47, 57, 191, 0.2);
      height: 10px;
      display: none;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        background: #fdb054;
        bottom: 0;
        animation: score_loader 2s linear infinite both;
        background-image: linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0.15) 75%,
          transparent 75%,
          transparent
        );
        background-size: 40px 40px;
      }
      @keyframes score_loader {
        from {
          width: 40%;
        }
        to {
          width: 100%;
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      li {
        width: calc(25% - 0px);
        position: relative;
        overflow: hidden;
        text-align: center;
        span {
          font-size: 20px;
          font-weight: 500;
          color: #0a1e43;
          display: block;
        }
        .scoreSvg {
          transform: scale(0.75);
          width: 120px;
          height: 120px;
          top: calc(50% - 60px);
          right: 0;
          circle {
            fill: none;
            stroke: #0a1e43;
            stroke-width: 10px;
            stroke-dasharray: 333;
            stroke-dashoffset: 333;
            transition: stroke-dashoffset 1s linear;
          }
          circle:nth-of-type(1) {
            stroke-dashoffset: 0;
            stroke: #f3f3f3;
          }
          text {
            text-anchor: middle;
            font-size: 30px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .scoreFragmentWrap {
    padding: 0;
    list-style: none;
    display: flex;
    max-width: max-content;
    margin: 15px 0 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    li {
      margin-left: 4px;
      font-size: 14px;
      font-weight: 400;
      color: #42526e;
      span {
        vertical-align: middle;
        width: 14px;
        height: 8px;
        border-radius: 4px;
        display: inline-block;
        margin: 0 5px;
        background-color: blue;
        position: relative;
        top: -2px;
      }
      .low {
        background-color: #e53935;
      }
      .med {
        background-color: #fb8c00;
      }
      .high {
        background-color: #18b663;
      }
    }
  }
}
.resultSection {
  display: none;
  .resultWrap {
    .resultStatsBox {
      padding: 30px;
      margin: 20px 0;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.68);
      ul {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 850px;
        li {
          font-size: 16px;
          color: #0e134f;
          list-style: none;
          font-weight: 500;
          flex: 1 1 45%;
          border-bottom: 1px solid #e8eaed;
          padding: 10px;
          margin: 0 10px;
          position: relative;
          b {
            color: #0a1e43;
            font-size: 16px;
            font-weight: 500;
            float: right;
          }
        }
      }
      .coreWebVitals {
        font-size: 14px;
        padding-top: 16px;
        font-size: 16px;
        color: #0e134f;
        text-align: center;
      }
    }
    .resultSnapsBox {
      margin: 20px 0 50px;
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        text-align: center;
        li {
          list-style: none;
          margin: 0 5px 10px;

          img {
            border: 1px solid #ebebeb;
            max-height: 100px;
            max-width: 80px;
          }
        }
      }
    }
    .resultAppUsing {
      display: flex;
      align-items: center;
      padding: 30px;
      background-color: #fff;
      border-radius: 6px;
      border: 0;
      border-top: 4px solid #18b663;
      box-shadow: 0 1px 2px 0;
      margin-bottom: 30px;
      display: block;
      .appImg {
        max-width: 80px;
        max-height: 80px;
        margin-right: 20px;
        flex: 1;
      }
      .resultAppUsingTxtBox {
        flex: 1;
        h3 {
          font-weight: 700;
          margin: 0;
        }
      }
    }
    .safeHttpWrap {
      margin: 0 0 30px;
      position: relative;
      .safeHttpBox {
        font-weight: 400;
        color: #42526e;
        font-size: 15px;
        .safeHttpTxtBox {
          padding: 30px;
          background-color: #fff;
          border-radius: 6px;
          border: 0;
          border-top: 4px solid transparent;
          box-shadow: 0 1px 2px 0;
          h3 {
            font-weight: 700;
            font-size: 24px;
            color: #0e134f;
            margin: 0 0 10px;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            margin: 0 0 10px;
            color: #0e134f;
          }
        }
      }
    }
    .safeBrowserWrap {
      margin: 0 0 30px;
      position: relative;
      .safeBrowserBox {
        font-weight: 400;
        color: #42526e;
        font-size: 15px;
        .safeBrowserTxtBox {
          padding: 30px;
          background-color: #fff;
          border-radius: 6px;
          border: 0;
          border-top: 4px solid transparent;
          box-shadow: 0 1px 2px 0;
          h3 {
            font-weight: 700;
            font-size: 24px;
            color: #0e134f;
            margin: 0 0 10px;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            margin: 0 0 10px;
            color: #0e134f;
          }
        }
      }
    }

    .mblCheckWrap {
      margin: 0 0 30px;
      position: relative;
      .mblCheckMainBox {
        font-weight: 400;
        color: #42526e;
        font-size: 15px;
        .mblCheckTxtBox {
          padding: 30px;
          background-color: #fff;
          border-radius: 6px;
          border: 0;
          border-top: 4px solid transparent;
          box-shadow: 0 1px 2px 0;
          h3 {
            font-weight: 700;
            font-size: 24px;
            color: #0e134f;
            margin: 0 0 10px;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            margin: 0 0 10px;
            color: #0e134f;
          }
        }
      }
    }
    .resultInterstitialsSec {
      margin-top: 30px;
      h3 {
        font-size: 28px;
        color: #0a1e43;
        margin: 0 0 10px;
        font-weight: 700;
      }
      .resultInterstitialsWrap {
        display: flex;
        margin: 10px -15px 0;
        flex-wrap: wrap;
        .resultInterstitialsBox {
          padding: 30px;
          background-color: #fff;
          border-radius: 6px;
          border: 0;
          box-shadow: 0 1px 2px 0;
          width: calc(50% - 30px);
          border-top: 4px solid #2e39bf;
          margin: 14px;
          h4 {
            font-size: 24px;
            color: #0a1e43;
            margin: 0 0 10px;
            font-weight: 700;
            text-transform: capitalize;
          }
          p {
            font-size: 16px;
            color: #42526e;
            margin: 0;
            font-weight: 400;
          }
        }
      }
    }
    .resultAppSuggestionSec {
      display: block;
      #accordion {
        .appSuggestionWrap {
          border-radius: 6px;
          margin: 0 0 10px;
          font-size: 18px;
          color: #d5d6d842;
          background: white;
          button {
            font-size: 18px;
            font-weight: 700;
            color: #000000;
            cursor: pointer;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .scoreSection .scoreSectionBox ul li {
    width: calc(50% - 0px);
  }

  .resultSection .resultWrap .resultStatsBox ul li {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  h3 {
    font-size: 1.25rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }
  p{
    font-size: 12px !important;
  }
  h2 {
    font-size: 1.3rem !important;
  }
  .userInputSec .userInputWrap .form #url {
    padding: 10px 28px;
  }
  .cta .startTestBtn {
    padding: 5px 12px;
  }
  .resultSection .resultWrap .resultAppSuggestionSec #accordion .appSuggestionWrap,
  .resultSection .resultWrap .resultAppSuggestionSec #accordion .appSuggestionWrap button {
    font-size: 14px;}
    
}
